@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
    color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html {
  color-scheme: light;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}